/* code your banner design here */
.banner {
  padding: 8em;
  position: relative;
  background-size: cover;
}

.bg-filter {
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.6;
  background: -webkit-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* IE10 */
  background: -o-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Opera 11.10+ */
  background: linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* W3C */

}

.banner-content {
  position: relative;
  color: #fff;
}
