<div class="footer padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-inline">
          <li><% link_to "https://twitter.com/webibli" do %>
                <i class="fa fa-facebook"></i>Facebook
              <% end %>
          </li>
          <li><% link_to "https://twitter.com/webibli" do %>
                <i class="fa fa-twitter"></i>Twitter
              <% end %>
          </li>
          <li><% link_to "http://github.com/" do %>
                <i class="fa fa-github"></i>Github
              <% end %>
          </li>
        </ul>
      </div>

      <div class="col-xs-6">
        <p class="text-right">My awesome footer</p>
      </div>
    </div>

  </div>
</div>

