<div class="padded text-center">
    <h2>Get news from us</h2>
    <p>Leave us your mail and get stylus news</p>
    <form action="#" class="form-inline">
      <input type="text" placeholder="lisa@gmail.com" class="form-control">
      <input type="submit" class="btn btn-primary">
    </form>

</div>
