<div class="container text-center">
  <h1>La team de ouf!</h1>
<ul class="list-inline">
  <li><img src="http://placehold.it/200/200" alt="" class="img-circle"></li>
  <li><img src="http://placehold.it/200/200" alt="" class="img-circle"></li>
  <li><img src="http://placehold.it/200/200" alt="" class="img-circle"></li>
</ul>
</div>
